
<div id="content">

				<div id="content-top">
					<div id="content-top-right"></div>
				</div><!-- close #content-top -->
				
				<div id="content-container-bg-left">
					<div id="content-container-bg-right">
						<div id="content-container">
						
						<div class="content-padding"> 
							<h1 class="page-title">Bienvenidos</h1>
							<h2>Somos keeptone una empresa de desarrollo de aplicaciones web y móvil.</h2>													
						</div><!-- close .content-padding -->																							
						<div id="featured-container">
						<div id="featured"> 
						    <img src="images/demo/ruby_rails_slide.png" alt="" />						    
						    <img src="images/demo/githuboctacat.png" alt="" data-caption="#htmlCaption3" />
						    <img src="images/demo/sinatra.png" alt="" data-caption="#htmlCaption" />
						    <img src="images/demo/happycoding.png" alt="" />
						    <img src="images/demo/web3.png" alt="" data-caption="#htmlCaption2" />
						    <img src="images/demo/Sass_Logo.png" alt="" data-caption="#htmlCaption4" />
							<div><iframe src="http://player.vimeo.com/video/16570593?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0"></iframe>
							</div>
						</div><!-- close #featured -->
						<!-- Captions for Orbit -->
						<div class="orbit-caption" id="htmlCaption">
							<div class="caption-padding">
								<a href="http://www.sinatrarb.com/" class="button alignright">Ir al sitio</a>
								<h1>Sinatra:</h1>
								<h4>Framework DSL</h4>
							</div>
						</div><!-- close .orbit-caption #htmlCaption -->
						<div class="orbit-caption" id="htmlCaption2">
							<div class="caption-padding">
								<h1>Apps:</h1>
								<h4>Aplicaciones web y m&oacute;vil</h4>
							</div>
						</div><!-- close .orbit-caption #htmlCaption2 -->
						<div class="orbit-caption" id="htmlCaption3">
							<div class="caption-padding">								
								<a href="http://www.github.com/" class="button alignright">Ir al sitio</a>
								<h1>repositorio:</h1>
								<h4>Codigo abierto</h4>
							</div>
						</div><!-- close .orbit-caption #htmlCaption3 -->

						<div class="orbit-caption" id="htmlCaption4">
							<div class="caption-padding">								
								<a href="http://www.sass-lang.com/" class="button alignright">Ir al sitio</a>
								<h1>Sass:</h1>
								<h4>Framework css</h4>
							</div>
						</div><!-- close .orbit-caption #htmlCaption3 -->
						</div><!-- close #feautred-container -->						
						
						<hr/>
						
						<div class="content-padding"> 
							<h1>Nuestro Blog</h1>
						</div><!-- close .content-padding -->
							<img src="images/blog/agile-workshop.png" width="500" height="200" alt="" />
						<div class="content-padding"> 
							<div class="comments"><a href="blog_single#comments">1</a></div>
							<h2><a href="blog_single">Explicando Scrum a mi abuela</a></h2>
						</div><!-- close .content-padding -->
						<div class="post-details">By <a href="http://geeks.ms/blogs/jorge">Jorge Serrano</a> @ 2007/05/09 in categories <a href="#">Arquitectura</a></div><!-- close .post-details -->
						<div class="content-padding"> 
							<p align="justify">El otro día me encontraba hablando con un compañero de trabajo a través del teléfono móvil, cuando mi abuela me escuchó nombrar palabras raras en la conversación.
Una de esas palabras era Scrum, y por la forma en la que hablaba fue lo que más atención la llamó, así que cuando colgué, lo primero que me preguntó fue con quién hablaba, de qué hablaba, y que era eso de Scrum.
Imaginaros la cara que se me quedó, porque... ¿cómo explicar Scrum a mi abuela?.
Aunque mi abuela es muy avanzada para la mayoría de la gente de su edad, la verdad es que no es fácil explicarla muchos de los aspectos tecnológicos emergentes, pero bueno, es mi abuela y tenía que intentar explicárselo de forma convincente.
Aquí, os transcribo aquella inverosímil conversación.</p>
							<a href="blog_single" class="button">Leer m&aacute;s</a>
						</div><!-- close .content-padding -->
						
						
						<div class="clearfix"></div>
						</div><!-- close #content-container -->
					</div><!-- close #content-container-bg-right" -->
				</div><!-- close #content-container-bg-left -->
				
				
				
				<div id="content-bottom">
					<div id="content-bottom-right"></div>
				</div><!-- close #content-bottom -->
			</div><!-- close #content -->
