<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>White Noise | Site Template</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"><!-- Mobile viewport optimized: j.mp/bplateviewport -->

	<link rel="stylesheet" href="style.css?v=2"><!-- CSS STYLES -->
	<link rel="stylesheet" href="style-adjustments.css"><!-- CSS STYLE ADJUSTMENTS -->
	<script src="js/libs/modernizr-2.0.6.min.js"></script><!-- MODERNIZR JavaScript for IE -->
	
</head>

<body>

	<div id="container">

		<div id="topannounce">
			<div id="announce-container"><a class="rightCloseButton" title="Click to close this Notification">Close</a>
				Hey! You can use this notifications bar to share your latest announcements. It will save when closed!
			</div><!-- close .announce-container -->
		</div><!-- close .topannounce -->
		<div class="clearfix"></div>
		
		<div id="reset-announcement">
			<div id="reset-announcement-container">
				<a href="" id="reset-announce">Reset The Notification Cookie</a>
			</div><!-- close #reset-announcement-container -->
		</div><!-- close #reset-announcement -->
		<div class="clearfix"></div>
		
		<!--div id="topannounce">
			<div id="announce-container"><a href = "#" onclick = "$.cookie('notificationBar', 'closed'); $('#topannounce').fadeOut('fast')" class="rightCloseButton" title = "Click to close this Notification">Close</a>
			Hey! You can use this notifications bar to share your latest announcements. It will save if closed!
			</div>
		</div>
		<div class="clearfix"></div>
		<div id="reset-announcement">
			<div id="reset-announcement-container">
				<a href="#" onclick = "$.cookie('notificationBar', 'open'); $('#topannounce').fadeIn('fast')" id="reset-announce">Reset The Notification Cookie</a>
			</div>
		</div>
		<div class="clearfix"></div-->
		<!-- close SESSION VERSION -->

		<div id="main" role="main">
			
			<aside>
				<div id="sidebar-top">
					<div id="sidebar-top-right"></div>
				</div><!-- close #sidebar-top -->
				
				<div id="sidebar-container-bg-left">
					<div id="sidebar-container-bg-right">
						<div id="sidebar-container">
							
						<header>
							<a href="index.html"><img src="images/logo.png" alt="logo" /></a>
						</header>
						
						<nav>
							<ul class="sf-menu sf-vertical">
								<li class="current">
									<a href="index.html">Home</a>
								</li>
								<li>
									<a href="about.html">About Me</a>
									<ul>
										<li><a href="styles.html">Page Styles</a></li>
										<li  class="current"><a href="index-v2.html">Homepage v2</a></li>
										<li><a href="contact-v2.html">Contact v2</a></li>
										<li><a href="column-layout.html">Column Examples</a></li>
										<li><a href="fixed-announcement.html">Fixed Announcement Bar</a></li>
									</ul>
								</li>
								<li>
									<a href="portfolio.html">Portfolio</a>
									<ul>
										<li><a href="portfolio.html">Single column</a></li>
										<li><a href="portfolio-2-column.html">2 columns</a></li>
										<li><a href="portfolio-3-column.html">3 columns</a></li>
										<li><a href="portfolio-4-column.html">4 columns</a></li>
									</ul>
								</li>
								<li>
									<a href="blog.html">The Blog</a>
								</li>
								<li>
									<a href="contact.html">Contact</a>
								</li>
							</ul>
							
						<div class="clearfix"></div>
						<div id="navigation-base"></div>
						</nav>
						
						
						
						<div class="content-padding"> 
							<img src="images/demo/ad1.gif" width="208" height="95" alt="" class="advertisements" /><!-- advertisements class gives extra padding to images -->
							<img src="images/demo/ad2.gif" width="208" height="95" alt="" class="no-margin" /><!-- .no-margin class removes all margins -->
						</div><!-- close .content-padding -->
						
						<!--hr />
						<div class="content-padding">
							<h2 class="twitter-heading">Latest Tweets</h2>
							<div id="tweets-sidebar"><div class="clearfix"></div></div--><!-- twitter dynamically pulled in, edit username in the script.js file -->
							<!--a href="http://twitter.com/envato/" target="_blank" class="button">Follow on Twitter</a>
						</div-->
						
						
						<hr />
						<div class="content-padding">
							<h2 class="flickr-heading">Flickr Photos</h2>
							<div id="flickr-sidebar"></div>
							<div class="clearfix"></div>
						</div><!-- close .content-padding -->
						
						
						<div class="clearfix"></div>
						</div><!-- close #sidebar-container -->
					</div><!-- close #sidebar-container-bg-right" -->
				</div><!-- close #sidebar-container-bg-left -->
				
				<div id="sidebar-bottom">
					<div id="sidebar-bottom-right"></div>
				</div><!-- close #sidebar-bottom -->
			</aside><!-- SIDEBAR CLOSED -->
			
			<div id="content">
				<div id="content-top">
					<div id="content-top-right"></div>
				</div><!-- close #content-top -->
				
				<div id="content-container-bg-left">
					<div id="content-container-bg-right">
						<div id="content-container">
						
						<div class="content-padding"> 
							<h1 class="page-title">Welcome</h1>
							<h2>My name is Mike and I design interfaces</h2>
						</div><!-- close .content-padding -->
						
						<div id="featured-container">
						<div id="featured"> 
						    <img src="images/demo/slideshow1.jpg" alt="" data-caption="#htmlCaption" />
						    <img src="images/demo/slideshow2.jpg"  alt="" data-caption="#htmlCaption2" />
						    <img src="images/demo/slideshow3.jpg" alt="" data-caption="#htmlCaption3" />
							<div><iframe src="http://player.vimeo.com/video/22884674?title=0&amp;byline=0&amp;portrait=0&amp;color=ffffff" width="500" height="281" frameborder="0"></iframe></div>
						</div><!-- close #featured -->
						<!-- Captions for Orbit -->
						<div class="orbit-caption" id="htmlCaption">
							<div class="caption-padding">
								<a href="portfolio-single.html" class="button alignright">Go to project</a>
								<h1>Latest Project:</h1>
								<h4>Infographics Design</h4>
							</div>
						</div><!-- close .orbit-caption #htmlCaption -->
						<div class="orbit-caption" id="htmlCaption2">
							<div class="caption-padding">
								<a href="portfolio-single.html" class="button alignright">Go to project</a>
								<h1>Latest Project:</h1>
								<h4>Second</h4>
							</div>
						</div><!-- close .orbit-caption #htmlCaption2 -->
						<div class="orbit-caption" id="htmlCaption3">
							<div class="caption-padding">
								<a href="portfolio-single.html" class="button alignright">Go to project</a>
								<h1>Latest Project:</h1>
								<h4>Third</h4>
							</div>
						</div><!-- close .orbit-caption #htmlCaption2 -->
						</div><!-- close #feautred-container -->
						
						
						<hr />
						
						<div class="content-padding"> 
							<h5 class="aligncenter">Check out the features offer in the online Live Preview.</h5>
						</div><!-- close .content-padding -->
						
						<hr />
						

						
						
						
						<div class="content-padding"> 
						
							<div class="col_1_3">
								<div class="content-columns">
							        <h6>Get started today</h6>
									<img src="images/demo/get-started.png" alt="" class="alignleft" />
							        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							        Donec porttitor odio sed eros vestibulum nec lobortis nibh imperdiet. </p>
									<p><a href="">Learn more &rsaquo;</a></p>
								</div><!-- close .content-columns -->
							</div><!-- close .col_1_3 -->

							<div class="col_1_3">
								<div class="content-columns">
							        <h6>Browser compatible</h6>
									<img src="images/demo/cross-browser.png" alt="" class="alignleft" />
							        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							        Donec porttitor odio sed eros vestibulum nec lobortis nibh imperdiet. </p>
									<p><a href="">Learn more &rsaquo;</a></p>
							    </div><!-- close .content-columns -->
							</div><!-- close .col_1_3 -->

							<div class="col_1_3">
								<div class="content-columns">
							        <h6>Save yourself time</h6>
									<img src="images/demo/documentation.png" alt="" class="alignleft" />
							        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							        Donec porttitor odio sed eros vestibulum nec lobortis nibh imperdiet. </p>
									<p><a href="">Learn more &rsaquo;</a></p>
							    </div><!-- close .content-columns -->
							</div><!-- close .col_1_3 -->
							
							<div class="clearfix"></div>
							
						</div><!-- close .content-padding -->
						
						<br/>
						
						
						
						<div class="content-padding"> 
							<div class="col_1_3">
							<div class="content-columns">
							        <h6>Color Picker</h6>
									<img src="images/demo/color-picker.png" alt="" class="alignleft" />
							        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							        Donec porttitor odio sed eros vestibulum nec lobortis nibh imperdiet. </p>
									<p><a href="">Learn more &rsaquo;</a></p>
							    </div><!-- close .content-columns -->
							</div><!-- close .col_1_3 -->

							<div class="col_1_3">
								<div class="content-columns">
							        <h6>Featured Slider</h6>
									<img src="images/demo/slider.png" alt="" class="alignleft" />
							        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							        Donec porttitor odio sed eros vestibulum nec lobortis nibh imperdiet. </p>
									<p><a href="">Learn more &rsaquo;</a></p>
							    </div><!-- close .content-columns -->
							</div><!-- close .col_1_3 -->

							<div class="col_1_3">
								<div class="content-columns">
							        <h6>Documentation</h6>
									<img src="images/demo/documentation2.png" alt="" class="alignleft" />
							        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
							        Donec porttitor odio sed eros vestibulum nec lobortis nibh imperdiet. </p>
									<p><a href="">Learn more &rsaquo;</a></p>
							    </div><!-- close .content-columns -->
							</div><!-- close .col_1_3 -->
							
							
							<div class="clearfix"></div>
							
						</div><!-- close .content-padding -->
						
						
						<div class="clearfix"></div>
						</div><!-- close #content-container -->
					</div><!-- close #content-container-bg-right" -->
				</div><!-- close #content-container-bg-left -->
				
				
				
				<div id="content-bottom">
					<div id="content-bottom-right"></div>
				</div><!-- close #content-bottom -->
			</div><!-- close #content -->
			
			<div class="clearfix"></div>
			<div id="main-base"></div><!-- close #main-base -->
		</div><!-- close #main -->

		<footer>
			<div id="footer-container">
				Copyright &copy; 2011 - White Noise - This is Version 1.0 - Designed by <a href="http://themeforest.net/user/ProgressionStudios/profile?ref=ProgressionStudios" target="_blank">Progression Studios</a>.
			</div><!-- close #footer-container -->
		</footer>
	</div> <!-- end of #container -->

	<!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
	<script>window.jQuery || document.write("<script src='js/libs/jquery-1.6.2.min.js'>\x3C/script>")</script>
	<script src="http://maps.google.com/maps/api/js?sensor=true" type="text/javascript"></script>
	<script src="js/plugins.js"></script>
	<script src="js/script.js"></script>
	<!-- end scripts-->


</body>
</html>