	<aside>
				<div id="sidebar-top">
				<div id="sidebar-top-right"></div>
				</div><!-- close #sidebar-top -->
				
				<div id="sidebar-container-bg-left">
					<div id="sidebar-container-bg-right">
						<div id="sidebar-container">
							
						<header>
							<a href="/"><img src="images/logo.png" alt="logo" /></a>
						</header>
						
						<nav>
							<ul class="sf-menu sf-vertical">
								<li class="current">
									<a href="/">Inicio</a>
								</li>
								<li>
									<a href="quienes_somos">¿ Quienes Somos ?</a>									
								</li>
								<li>
									<a href="que_hacemos">¿ Qu&eacute; hacemos ?</a>									
								</li>					
								<li>
									<a href="contact">Contactenos</a>
								</li>
							</ul>
							
						<div class="clearfix"></div>
						<div id="navigation-base"></div>
						</nav>					
						
						
						<div class="content-padding"> 
							<img src="images/demo/ad1.gif" width="208" height="95" alt="" class="advertisements" /><!-- advertisements class gives extra padding to images -->
							<img src="images/demo/ad2.gif" width="208" height="95" alt="" class="no-margin" /><!-- .no-margin class removes all margins -->
						</div><!-- close .content-padding -->
						
						<hr /><!-- DIVIDER -->
						
						<div class="content-padding">
							<h2 class="twitter-heading">Ultimos Tweets</h2>
							<div id="tweets-sidebar"><div class="clearfix"></div></div><!-- twitter dynamically pulled in, edit username in the script.js file -->
							<a href="http://twitter.com/keeptone/" target="_blank" class="button">Siganos en Twitter</a>
						</div>					
						
						<!--hr />
						<div class="content-padding">
							<h2 class="flickr-heading">Flickr Photos</h2>
							<div id="flickr-sidebar"></div>
							<div class="clearfix"></div>
						</div--><!-- close .content-padding -->						
						
						<div class="clearfix"></div>
						</div><!-- close #sidebar-container -->
					</div><!-- close #sidebar-container-bg-right" -->
				</div><!-- close #sidebar-container-bg-left -->
				
				<div id="sidebar-bottom">
					<div id="sidebar-bottom-right"></div>
				</div><!-- close #sidebar-bottom -->
			</aside><!-- SIDEBAR CLOSED -->