	
						
			<div id="content">
				<div id="content-top">
					<div id="content-top-right"></div>
				</div><!-- close #content-top -->
				
				<div id="content-container-bg-left">
					<div id="content-container-bg-right">
						<div id="content-container">
						
						<div class="content-padding"> 
							<h1 class="page-title">&iquest; Que hacemos ?</h1>
							<p align="justify"><font size="3">
								<br>

								<img src="images/demo/Apps-internet-web-browser-icon.png"  alt="" class="alignleft" />
								Manejamos todo lo concerniente a telecomunicaciones, abarcando la creaci&oacute;n de pbx virtuales,
												n&uacute;meros virtuales o DID, Servicio de llamadas internacionales y publicidad masiva v&iacute;a tel&eacute;fonos fijos y m&oacute;viles.
												<br><br><br>

												<img src="images/demo/Apps-preferences-system-login-icon.png"  alt="" class="alignright" />
												Con referente al sector tecnol&oacute;gico, desarrollamos software de alta calidad para empresas
												nacionales e internacionales de gran escala provey&eacute;ndoles invenci&oacute;n, optimizaci&oacute;n y rentabilidad a
												sus necesidades.
								<br><br>

							</font></p>							
 						</div><!-- close .content-padding -->

						<div class="clearfix"></div><!-- close clearing the float -->
						
						
						<div class="clearfix"></div>
						</div><!-- close #content-container -->
					</div><!-- close #content-container-bg-right" -->
				</div><!-- close #content-container-bg-left -->
				
				<div id="content-bottom">
					<div id="content-bottom-right"></div>
				</div><!-- close #content-bottom -->
			</div><!-- close #content -->
			

