	<div id="container">

		<div id="main" role="main">			
			
			<div id="content">
				<div id="content-top">
					<div id="content-top-right"></div>
				</div><!-- close #content-top -->
				
				<div id="content-container-bg-left">
					<div id="content-container-bg-right">
						<div id="content-container">
						
						<div class="content-padding"> 
							<h1 class="page-title">Portfolio</h1>
 						</div><!-- close .content-padding -->

						
						<div class="portfolio-item">
							<div class="portfolio-slider"> <!-- .portfolio-slider activates the slider, remove that div if you don't want a slider -->
								<a href="portfolio-single.html"><img src="images/demo/portfolio3.jpg" width="500" height="210" alt="slideshow"  /></a>
								<a href="portfolio-single.html"><img src="images/demo/portfolio4.jpg" width="500" height="210" alt="slideshow" /></a>
								<a href="portfolio-single.html"><img src="images/demo/portfolio5.jpg" width="500" height="210" alt="slideshow" /></a>
							</div><!-- .portfolio-slider is the slider activation -->
							<div class="content-padding"> 
								<a href="portfolio-single.html" class="button alignright">Go to project</a>
								<h3>Wallpaper Art</h3>
							</div><!-- close .content-padding -->
							<hr />
						</div>
						
						
						<div class="portfolio-item">
							<div class="portfolio-slider">  <!-- .portfolio-slider activates the slider, remove that div if you don't want a slider -->
								<a href="portfolio-single.html"><img src="images/demo/portfolio6.jpg" width="500" height="210" alt="slideshow" /></a>
								<a href="portfolio-single.html"><img src="images/demo/portfolio7.jpg" width="500" height="210" alt="slideshow" /></a>
								<a href="portfolio-single.html"><img src="images/demo/portfolio8.jpg" width="500" height="210" alt="slideshow" /></a>
							</div><!-- .portfolio-slider is the slider activation -->
							<div class="content-padding"> 
								<a href="portfolio-single.html" class="button alignright">Go to project</a>
								<h3>Nealli</h3>
							</div><!-- close .content-padding -->
							<hr />
						</div>
						
						<div class="portfolio-item">
							<div class="portfolio-slider">  <!-- .portfolio-slider activates the slider, remove that div if you don't want a slider -->
								<a href="portfolio-single.html"><img src="images/demo/portfolio9.jpg" width="500" height="210" alt="slideshow" /></a>
								<a href="portfolio-single.html"><img src="images/demo/portfolio10.jpg" width="500" height="210" alt="slideshow" /></a>
								<a href="portfolio-single.html"><img src="images/demo/portfolio11.jpg" width="500" height="210" alt="slideshow" /></a>
							</div><!-- .portfolio-slider is the slider activation -->
							<div class="content-padding"> 
								<a href="portfolio-single.html" class="button alignright">Go to project</a>
								<h3>Static Adventure</h3>
							</div><!-- close .content-padding -->
							<hr />
						</div>
						
						
						<div class="portfolio-item">
							<div class="portfolio-slider">  <!-- .portfolio-slider activates the slider, remove that div if you don't want a slider -->
								<a href="portfolio-single.html"><img src="images/demo/portfolio12.jpg" width="500" height="210" alt="slideshow" /></a>
								<a href="portfolio-single.html"><img src="images/demo/portfolio1.jpg" width="500" height="210" alt="slideshow" /></a>
								<a href="portfolio-single.html"><img src="images/demo/portfolio2.jpg" width="500" height="210" alt="slideshow" /></a>
							</div><!-- .portfolio-slider is the slider activation -->
							<div class="content-padding"> 
								<a href="portfolio-single.html" class="button alignright">Go to project</a>
								<h3>Altered</h3>
							</div><!-- close .content-padding -->
							<hr />
						</div>
						
						
						<div class="portfolio-item">
							<a href="portfolio-single.html"><img src="images/demo/portfolio13.jpg" width="500" height="210" alt="slideshow" /></a>
							<div class="content-padding"> 
								<a href="portfolio-single.html" class="button alignright">Go to project</a>
								<h3>Reconstruct</h3>
							</div><!-- close .content-padding -->
							<hr />
						</div>
						
						<div class="portfolio-item">
							<a href="portfolio-single.html"><img src="images/demo/portfolio15.jpg" width="500" height="210" alt="slideshow" /></a>
							<div class="content-padding"> 
								<a href="portfolio-single.html" class="button alignright">Go to project</a>
								<h3>Reflection Dynamiks</h3>
							</div><!-- close .content-padding -->
							<hr />
						</div>
						
						
						<div class="content-padding"> 
						<!-- BEGIN PAGINATION -->
						<div class="pagination">
							<!--a href="#" class="previous">Previous</a-->
							<a href="#" class="selected">1</a>
							<a href="#">2</a>
							<a href="#">3</a>
							<a href="#">4</a>
							<a href="#" class="next">Next</a>
						</div>
						<!-- END PAGINATION -->
						</div><!-- close .content-padding -->
						
	
						

						
						<div class="clearfix"></div>
						</div><!-- close #content-container -->
					</div><!-- close #content-container-bg-right" -->
				</div><!-- close #content-container-bg-left -->
				
				<div id="content-bottom">
					<div id="content-bottom-right"></div>
				</div><!-- close #content-bottom -->
			</div><!-- close #content -->
			
			<div class="clearfix"></div>
			<div id="main-base"></div><!-- close #main-base -->
		</div><!-- close #main -->

	</div> <!-- end of #container -->

