		
							
				<div id="content">
					<div id="content-top">
						<div id="content-top-right"></div>
					</div><!-- close #content-top -->
					
					<div id="content-container-bg-left">
						<div id="content-container-bg-right">
							<div id="content-container">
							
							<div class="content-padding"> 
								
								<h1 class="page-title">¿ Quienes Somos ?</h1>
								<br>

								<font size="3">
									<p align="justify">								
									
                                    <img src="images/demo/Apps-preferences-desktop-default-applications-icon.png"  alt="" class="alignright" />
									Keeptone S.A.S es una empresa de tecnología y desarrollo de software, nacida el 4 de junio del año 2011, la cual fue fundada debido a innumerables necesidades latentes como el mejoramiento, estatus, proyección y seguridad tecnológica por parte de cualquier empresa tanto en su desarrollo inicial como en su etapa de mantenimiento.<br><br>

									Nos enfocamos en tercerizar los servicios de empresas en el extranjero y proveerles personal altamente capacitado que se adapten a sus necesidades.
									<br><br>

	<img src="images/demo/Apps-preferences-system-windows-actions-icon.png"  alt="" class="alignleft" />
	La tendencia del mundo cibernético cada vez avanza más rápido debido al nivel de exigencia y de necesidades del hombre. Hoy día podemos palpar que la manera más fácil de encontrar cualquier información, hacer pagos, enviar cualquier documento, etc. Es indudablemente el internet.<br><br>



    <img src="images/demo/Apps-ktip-icon.png"  alt="" class="alignright" />
	Nuestra idea de negocios es netamente viable por el simple hecho de estar ubicados en un país en dónde la mano de obra es muchísimo más económica frente a países norte americanos y europeos. <br><br>

	Esto indudablemente lo hace más atractivos para estas empresas extranjeras que desean disminuir sus costos administrativos obteniendo mayor efectividad y aumento en sus utilidades que les permitan generar reinversión y a su vez un  crecimiento acelerado.<br><br>

    <img src="images/demo/estadistica.jpg" width="140" height="120" alt="" class="alignleft" />
	Contamos con un margen de utilidad bastante amplio para jugar con nuestras propuestas comerciales promoviendo un margen de reducción de costos a las empresas del 30% al 70% en comparación con el pago de mano de obra local de sus países.
	
	<br><br>

	Los grandes magnates de la industria de tecnología y otras de sectores diferentes no han sido ajenas a este proceso globalizante de tercerización, tanto asi que han puesto en manos del medio oriente los principales centros de servicio al cliente de estas mismas sintiendo así el gran beneficio del BPO.</p></font>
								
	 						</div><!-- close .content-padding -->

							<div class="clearfix"></div><!-- close clearing the float -->
							
							
							<div class="clearfix"></div>
							</div><!-- close #content-container -->
						</div><!-- close #content-container-bg-right" -->
					</div><!-- close #content-container-bg-left -->
					
					<div id="content-bottom">
						<div id="content-bottom-right"></div>
					</div><!-- close #content-bottom -->
				</div><!-- close #content -->
				


